.productCard{
    margin: 5px;
}

.productDetails{
    width: 45rem;
    text-align: center;
    padding-left: 10rem;
}

.productDetails h2{
    margin-top: 4rem;
}

.productDetails button{
    margin-top: 4rem;
}
